<!DOCTYPE html>
<form class="forms-sample" name="form" action="{% url 'professor' %}" method="post">
  {% csrf_token %}
<html>
  <head>
    <title>Feature Four and Five</title>
  </head>
  <body>
  <label for="professor">Enter Professor</label>
  <input type="text" id="professor" name="inProfessor"><br><br>
  <label for="semester">Enter semester (1 or 2)</label>
  <input type="text" id="semester" name="inSemester"><br><br>
  <label for="feature">Enter feature (4 or 5)</label>
  <input type="text" id="feature" name="inFeature"><br><br>
  <button type="Submit" value="Submit" name="Submit">Search</button>
  {% for key, value in list.items %}
    <p>{{ key }} : {{ value }}</p>
  {% endfor %}
  </body>
</html>>
</form>
</html>