<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
* {
  box-sizing: border-box;
}
.right {
  margin-left: auto;
}

.left {
  margin-right: auto;
}

table, th, td {
  border: 1px solid gray;
  border-radius: 10px;
}

th{
  background-color: #ABE8F6;
  color: black;
}

td{
  background-color: #DEF0F4;
  color: black;
}

h1{
  color: black;
}

.buttonGroup1{
	margin-left: 15%;
}

.buttonGroup2{
	margin-left: 75%;
}

.queryButton2 {
	margin-left: 56.5%
}

</style>
</head>
<body style="font-family:Verdana;color:#aaaaaa;">

<div style="background-color:#E8F4FF;padding:15px;text-align:center;">
  <h1>Professor</h1>
</div>



<table style="width:100%">
  <tr>
    <td>
      <table style="width:100%"; class = "left">
  <tr>
    <th>Section</th>
    <th># of Students</th>
  </tr>
 <tr>
    <td>NULL</td>
    <td>NULL</td>
  </tr>
  <tr>
    <td>NULL</td>
    <td>NULL</td>
  </tr>
</table>
    </td>
    <td>
      <table style="width:100%"; class = "left">
  <tr>
    <th>Section</th>
    <th>Students</th>
  </tr>
 <tr>
    <td>NULL</td>
    <td>NULL</td>
  </tr>
  <tr>
    <td>NULL</td>
    <td>NULL</td>
  </tr>
</table>
    </td>
  </tr>
</table>

<form class = "buttonGroup1">
	<input type="radio" id="spring" name="semesterChoice" value="spring">
	<label for="spring">Spring</label><br>
	<input type="radio" id="fall" name="semesterChoice" value="fall">
	<label for="fall">Fall</label><br>
</form>

<form class = "buttonGroup2">
	
	<input type="radio" id="spring" name="semesterChoice" value="spring">
	<label for="spring">Spring</label><br>
	<input type="radio" id="fall" name="semesterChoice" value="fall">
	<label for="fall">Fall</label><br>
</form>

<button type="button", class = "buttonGroup1">Query</button>
<button type="button", class = "queryButton2">Query</button>

</body>
</html>