<!DOCTYPE html>
<form class="forms-sample" name="form" action="{% url 'student' %}" method="post">
  {% csrf_token %}
<html>
  <head>
    <title>Feature Six</title>
    <style>
        form{text-align: center}
        body{text-align: center}
        table, tr, td {-webkit-border-radius: 8px; -moz-border-radius: 8px; border: 1px solid black; }
        fieldset {-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;}
        button {-webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px;}
    </style>
  </head>
  <body style="background-color:#b9eaea;">
  <button type="Submit" value="Submit" name="Submit">Query</button><br><br>

  <label for="department">Enter Department</label>
  <input type="text" id="department" name="inDepartment"><br><br>

  <form style="color:#1434A4;" >
      <fieldset id = "groupSemester" style="width:25%; margin: auto" >
          <label for="inSemester">Choose Semester:  </label><br>
          <input type="radio" id="spring" name="inSemester" value="1">
          <label for="spring">Spring</label><br>
          <input type="radio" id="fall" name="inSemester" value="2">
          <label for="fall">Fall</label><br>
      </fieldset>
  </form><br>
  <table style="margin: auto">
        <tr>
            <td> Class </td>
            <td> Section </td>
        </tr>
        {% for key, value in list.items %}
            <tr>
                <td>{{ key }}</td>
                <td>{{ value }}</td>
            </tr>
        {% endfor %}
  </table>
  </body>
</html>
</form>
</html>