<!DOCTYPE html>
<form class="forms-sample" name="form" action="{% url 'student' %}" method="post">
  {% csrf_token %}
<html>
  <head>
    <title>Feature Six</title>
    <style>
        form{text-align: center}
        body{text-align: center}
    </style>
  </head>
  <body>
  <button type="Submit" value="Submit" name="Submit">Query</button><br><br>

  <label for="department">Enter department</label>
  <input type="text" id="department" name="inDepartment"><br><br>

  <form>
      <fieldset id = "groupSemester" >
          <label for="groupSemester">Choose Semester:  </label><br>
          <input type="radio" id="spring" name="inSemester" value="1">
          <label for="spring">Spring</label><br>
          <input type="radio" id="fall" name="inSemester" value="2">
          <label for="fall">Fall</label><br>
      </fieldset>
  </form>

  {% for key, value in list.items %}
      <p>{{ key }} : {{ value }}</p>
  {% endfor %}

  </body>
</html>>
</form>
</html>